.welcome-slide-form__select,
.welcome-slide-form__input,
.welcome-slide-form button {
  margin: 0 0 25px 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::placeholder {
  opacity: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body._lock {
  overflow: hidden;
}

.tel-viber {
  padding: 0 20px 0 0;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  position: relative;
}

.tel-viber:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/icons/viber.svg") 0 0/100% 100% no-repeat;
}

.tel-viber:hover {
  text-decoration: underline;
}

.lang {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.lang:hover {
  color: #3F494B;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  width: 17px;
  height: 31px;
  background: url("../img/icons/slider_arrow.svg") 0 0/100% 100% no-repeat;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: .5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.slick-dots {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #fff;
  margin: 0 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slick-dots li.slick-active button {
  width: 5px;
  height: 5px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 33px;
  line-height: calc(40/33);
  color: #3F494B;
}

.title--pink span {
  color: #F2AD97;
}

.title--green span {
  color: #6DAD83;
}

.subtitle {
  text-align: center;
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.subtitle--black {
  color: rgba(0, 0, 0, 0.3);
}

.subtitle--grey {
  color: #bcbcbc;
}

.select {
  position: relative;
}

.select__header {
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF8E1;
  border-bottom: 1px solid #D9927B;
  line-height: calc(17/14);
  color: #3F494B;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.select__header:hover {
  background: #f1f1f1;
}

.select__label {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.select__current {
  font-weight: bold;
}

.select__icon {
  width: 10px;
  height: 6px;
  margin: 0 0 0 auto;
  background: url("../img/icons/black_caret.svg") 0 0/100% 100% no-repeat;
}

.select__body {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #D9927B;
  border-top: 0;
  display: none;
}

.select__item {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #D9927B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #FFF8E1;
  cursor: pointer;
  color: #3F494B;
}

.select__item:hover {
  background: #f1f1f1;
}

.select__item:last-child {
  border-bottom: 0;
}

.select._choosed .select__label {
  position: absolute;
  bottom: 100%;
  font-weight: 400;
  font-size: 12px;
}

.select._active .select__body {
  display: block;
}

.header {
  position: relative;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header._bg {
  background: rgba(63, 73, 75, 0.5);
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container--top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__col--2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__logo {
  margin: 0 10px;
  min-width: 94px;
}

.header__logo a {
  display: none;
}

.header__logo a:first-child {
  display: block;
}

.header__logo img {
  max-width: 100%;
}

.header__tel {
  margin: 0 15px;
}

.header__contacts {
  margin: 0 -15px;
}

.header__lang {
  margin: 0 30px;
}

.header__button {
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 100px;
  background: #3F494B;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
  padding-left: 35px;
}

.header__button:hover {
  background: #798081;
}

.header__menu-button {
  margin-right: 30px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.header-menu__item {
  margin: 0 10px;
}

.header-menu__item a {
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
}

.menu-button {
  background: #FFF8E1;
  border-radius: 100px;
  text-transform: uppercase;
  line-height: calc(16/12);
  color: #3F494B;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.menu-button:hover {
  background: #F8F8F8;
}

.menu-button > span {
  display: none;
  margin: 0 10px 0 0;
}

.menu-button > span:first-child {
  display: block;
}

.menu-button__icon {
  width: 16px;
  height: 12px;
  position: relative;
}

.menu-button__icon:before,
.menu-button__icon:after,
.menu-button__icon span {
  content: '';
  width: 16px;
  height: 2px;
  background: #3F494B;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.menu-button__icon:before {
  top: 0;
}

.menu-button__icon:after {
  bottom: 0;
}

.menu-button__icon span {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 10px 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  background: #FFF8E1;
  visibility: hidden;
}

.burger-menu__close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.burger-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.burger-menu__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px;
}

.burger-menu__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu__column:last-child img {
  width: 100%;
}

.burger-menu-category {
  margin: 0 0 30px 0;
}

.burger-menu-category._dropdown._active .burger-menu-category__head {
  color: #6DAD83;
  border: 0;
}

.burger-menu-category._dropdown._active .burger-menu-category__head:before {
  background: url("../img/icons/green_caret.svg") 0 0/100% 100% no-repeat;
}

.burger-menu-category._dropdown._active .burger-menu-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu-category:last-child {
  margin: 0;
}

.burger-menu-category__head {
  font-weight: 600;
  color: #3F494B;
  margin: 0 0 15px 0;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}

.burger-menu-category__head:hover {
  color: #798081;
}

.burger-menu-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-menu-category__item {
  line-height: calc(24/14);
  color: #3F494B;
  margin: 0 0 7px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.burger-menu-category__item:hover {
  color: #6DAD83;
}

.burger-menu-category__item:last-child {
  margin: 0;
}

.header._active {
  background: #FFF8E1;
}

.header._active .header__tel {
  color: #3F494B;
}

.header._active .header__tel:before {
  background: url("../img/icons/black_viber.svg") 0 0 no-repeat;
}

.header._active .header__logo a:first-child {
  display: none;
}

.header._active .header__logo a:last-child {
  display: block;
}

.header._active .header-menu__item a {
  color: #3F494B;
}

.header._active .header__lang {
  color: #3F494B;
}

.header._active .menu-button {
  border: 1px solid #3F494B;
}

.header._active .menu-button__icon span {
  -webkit-transform: translate(0, -50%) scale(0);
      -ms-transform: translate(0, -50%) scale(0);
          transform: translate(0, -50%) scale(0);
}

.header._active .menu-button__icon:before {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.header._active .menu-button__icon:after {
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.header._active .menu-button > span:first-child {
  display: none;
}

.header._active .menu-button > span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header._active .burger-menu {
  opacity: 1;
  visibility: visible;
}

.welcome {
  background: url("../img/main_screen_picture.png") center center/cover no-repeat;
  position: relative;
}

.welcome__slider .slick-dots {
  bottom: 30px;
}

.welcome__slider .slick-next {
  right: calc(20px + 320 * ((100vw - 1240px) / (1920 - 1240)));
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.welcome__slider .slick-prev {
  left: calc(20px + 320 * ((100vw - 1240px) / (1920 - 1240)));
  -webkit-transform: translate(-100%, -50%) rotate(180deg);
      -ms-transform: translate(-100%, -50%) rotate(180deg);
          transform: translate(-100%, -50%) rotate(180deg);
}

.welcome-slide {
  padding: 20px 0 80px 0;
  position: relative;
  z-index: 20;
}

.welcome-slide__col--1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.welcome-slide__col--2 {
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome-slide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-slide__text {
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  max-width: 462px;
  font-size: 16px;
}

.welcome-slide__text-block {
  max-width: 531px;
  margin-top: 125px;
  margin-bottom: 125px;
}

.welcome-slide__title {
  font-weight: bold;
  line-height: calc(49/40);
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}

.welcome-slide__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.welcome-slide__advantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.welcome-slide__advantages li img {
  margin: 0 10px 0 0;
}

.welcome-slide__advantages li span {
  font-weight: 500;
  line-height: calc(17/14);
  color: #F8F8F8;
  max-width: 150px;
  display: inline-block;
  font-size: 14px;
}

.welcome-slide__label {
  font-size: 12px;
  font-weight: 600;
  line-height: calc(15/12);
  text-transform: uppercase;
  color: #fff;
}

.welcome-slide-form {
  background: #FFF8E1;
  border-radius: 15px;
  padding: 45px 45px 40px;
  max-width: 380px;
  width: 100%;
  margin: 0 0 35px 0;
  padding-right: 45px;
  padding-left: 45px;
  padding-bottom: 40px;
}

.welcome-slide-form__input input {
  background: #FFF8E1;
  padding: 5px 0;
  border-bottom: 1px solid #D9927B;
  width: 100%;
  font-weight: bold;
}

.welcome-slide-form__input input::-webkit-input-placeholder {
  color: #3F494B;
}

.welcome-slide-form__input input::-moz-placeholder {
  color: #3F494B;
}

.welcome-slide-form__input input:-ms-input-placeholder {
  color: #3F494B;
}

.welcome-slide-form__input input::-ms-input-placeholder {
  color: #3F494B;
}

.welcome-slide-form__input input,
.welcome-slide-form__input input::placeholder {
  color: #3F494B;
}

.welcome-slide-form__input input::-webkit-input-placeholder {
  font-weight: 500;
}

.welcome-slide-form__input input::-moz-placeholder {
  font-weight: 500;
}

.welcome-slide-form__input input:-ms-input-placeholder {
  font-weight: 500;
}

.welcome-slide-form__input input::-ms-input-placeholder {
  font-weight: 500;
}

.welcome-slide-form__input input::placeholder {
  font-weight: 500;
}

.welcome-slide-form__input--file {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.welcome-slide-form__input--file:hover span {
  text-decoration: none;
}

.welcome-slide-form__input--file input {
  display: none;
}

.welcome-slide-form__input--file img {
  margin: 0 6px 0 0;
  width: 17px;
  height: 18px;
}

.welcome-slide-form__input--file span {
  line-height: calc(17/14);
  display: inline-block;
  margin: 1px 0 0 0;
  font-weight: 500;
  text-decoration: underline;
  color: #3F494B;
}

.welcome-slide-form button {
  height: 45px;
  width: 100%;
  border-radius: 100px;
  background: #3F494B;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.welcome-slide-form button:hover {
  background: #798081;
}

.welcome-slide-form__privacy {
  line-height: calc(12/10);
  font-weight: 500;
  text-align: center;
  max-width: 290px;
  font-size: 10px;
}

.welcome-slide-form__privacy,
.welcome-slide-form__privacy a {
  color: #3F494B;
}

.welcome-slide-form__privacy a {
  text-decoration: underline;
}

.welcome-slide-form__privacy a:hover {
  text-decoration: none;
}

.how-order {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.how-order__title {
  margin-bottom: 110px;
}

.how-order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.how-order__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 10px;
  position: relative;
}

.how-order__column:before {
  content: '';
  width: 17px;
  height: 31px;
  position: absolute;
  top: 20px;
  right: 0;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  background: url("../img/icons/gray_arrow.svg") 0 0/100% 100% no-repeat;
}

.how-order__column:last-child:before {
  display: none;
}

.how-order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.how-order-item__icon {
  margin: 0 0 20px 0;
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-order-item__title {
  line-height: calc(20/16);
  color: #3F494B;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.how-order-item__text {
  line-height: calc(24/14);
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.our-products {
  padding: 50px 0;
  background: #FFF8E1;
}

.our-products__title {
  margin: 0 0 30px 0;
}

.our-products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -4px;
}

.our-products__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 4px;
}

.our-products__col:nth-child(even) .our-products-item__name {
  top: auto;
  bottom: 25px;
}

.our-products-item {
  display: block;
  padding: 0 0 8px 0;
}

.our-products-item:hover .our-products-item__bg img {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.our-products-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.our-products-item__bg img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.our-products-item__content {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.our-products-item__name {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 25px;
  line-height: calc(22/18);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.our-products-item--1 {
  height: 170px;
}

.our-products-item--2 {
  height: 255px;
}

.our-products-item--3 {
  height: 340px;
}

@media (max-width: 1240px) {
  .welcome-slide-form__select,
  .welcome-slide-form__input,
  .welcome-slide-form button {
    margin: 0 0 20px 0;
  }

  .title {
    font-size: calc(18px + 15 * ((100vw - 360px) / (1240 - 360)));
  }

  .subtitle {
    font-size: calc(11px + 5 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__logo {
    min-width: calc(50px + 44 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__button {
    font-size: calc(10px + 2 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__button {
    padding-top: calc(10px + 5 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__button {
    padding-bottom: calc(10px + 5 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__button {
    padding-right: calc(25px + 10 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__button {
    padding-left: calc(25px + 10 * ((100vw - 360px) / (1240 - 360)));
  }

  .header__menu-button {
    margin-right: calc(0px + 30 * ((100vw - 360px) / (1240 - 360)));
  }

  .header-menu__item a {
    font-size: calc(10px + 3 * ((100vw - 360px) / (1240 - 360)));
  }

  .menu-button {
    font-size: calc(10px + 2 * ((100vw - 360px) / (1240 - 360)));
  }

  .menu-button {
    padding-top: calc(10px + 5 * ((100vw - 360px) / (1240 - 360)));
  }

  .menu-button {
    padding-bottom: calc(10px + 5 * ((100vw - 360px) / (1240 - 360)));
  }

  .menu-button {
    padding-left: calc(15px + 15 * ((100vw - 360px) / (1240 - 360)));
  }

  .menu-button {
    padding-right: calc(15px + 15 * ((100vw - 360px) / (1240 - 360)));
  }

  .burger-menu-category__head {
    font-size: calc(16px + 4 * ((100vw - 768px) / (1240 - 768)));
  }

  .burger-menu-category__item {
    font-size: calc(12px + 2 * ((100vw - 768px) / (1240 - 768)));
  }

  .welcome__slider .slick-next {
    display: none !important;
  }

  .welcome__slider .slick-prev {
    display: none !important;
  }

  .welcome-slide {
    padding: 20px 0 50px 0;
  }

  .welcome-slide__text {
    font-size: calc(14px + 2 * ((100vw - 768px) / (1240 - 768)));
  }

  .welcome-slide__text {
    font-weight: 400;
  }

  .welcome-slide__text-block {
    margin-top: calc(50px + 75 * ((100vw - 360px) / (1240 - 360)));
  }

  .welcome-slide__text-block {
    margin-bottom: calc(50px + 75 * ((100vw - 360px) / (1240 - 360)));
  }

  .welcome-slide__title {
    font-size: calc(20px + 20 * ((100vw - 360px) / (1240 - 360)));
  }

  .welcome-slide__title {
    margin-bottom: calc(12px + 18 * ((100vw - 360px) / (1240 - 360)));
  }

  .welcome-slide__advantages {
    max-width: 420px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .welcome-slide__advantages li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 0 30px 0;
  }

  .welcome-slide__advantages li img {
    margin: 0 16px 0 0;
  }

  .welcome-slide__advantages li span {
    font-size: calc(10px + 4 * ((100vw - 768px) / (1240 - 768)));
  }

  .welcome-slide__label {
    display: none;
  }

  .welcome-slide-form {
    padding-right: calc(30px + 15 * ((100vw - 768px) / (1240 - 768)));
  }

  .welcome-slide-form {
    padding-left: calc(30px + 15 * ((100vw - 768px) / (1240 - 768)));
  }

  .welcome-slide-form {
    padding-bottom: calc(20px + 20 * ((100vw - 768px) / (1240 - 768)));
  }

  .welcome-slide-form__privacy {
    font-size: calc(9px + 1 * ((100vw - 768px) / (1240 - 768)));
  }

  .how-order {
    padding-top: calc(20px + 80 * ((100vw - 360px) / (1240 - 360)));
  }

  .how-order {
    padding-bottom: calc(0px + 100 * ((100vw - 360px) / (1240 - 360)));
  }

  .how-order__title {
    margin-bottom: calc(20px + 90 * ((100vw - 360px) / (1240 - 360)));
  }

  .how-order-item__title {
    font-size: calc(12px + 4 * ((100vw - 360px) / (1240 - 360)));
  }

  .how-order-item__title {
    margin-bottom: calc(5px + 10 * ((100vw - 360px) / (1240 - 360)));
  }

  .how-order-item__text {
    font-size: calc(10px + 4 * ((100vw - 360px) / (1240 - 360)));
  }

  .our-products__col:nth-child(even) .our-products-item__name {
    bottom: 15px;
  }

  .our-products-item__name {
    font-size: calc(10px + 8 * ((100vw - 360px) / (1240 - 360)));
  }

  .our-products-item__name {
    top: 15px;
    left: 20px;
  }

  .our-products-item--1 {
    height: calc(101.76871px + (170 - 101.76871) * ((100vw - 768px) / (1240 - 768)));
  }

  .our-products-item--2 {
    height: calc(152.65306px + (255 - 152.65306) * ((100vw - 768px) / (1240 - 768)));
  }

  .our-products-item--3 {
    height: calc(203.53741px + (340 - 203.53741) * ((100vw - 768px) / (1240 - 768)));
  }
}

@media (max-width: 1160px) {
  .header__contacts {
    display: none;
  }
}

@media (max-width: 992px) {
  .burger-menu__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }

  .burger-menu__column:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .select__header {
    font-size: 12px;
  }

  .select._choosed .select__label {
    font-size: 9px;
  }

  .header__container--top {
    margin: 0 0 8px 0;
  }

  .header__lang {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-menu--2 {
    margin: 0 20px;
  }

  .burger-menu-category__head {
    font-size: 16px;
  }

  .burger-menu-category__item {
    font-size: 12px;
  }

  .welcome-slide__text {
    font-size: 14px;
  }

  .welcome-slide__advantages li span {
    font-size: 10px;
  }

  .welcome-slide-form {
    padding-right: 30px;
  }

  .welcome-slide-form {
    padding-left: 30px;
  }

  .welcome-slide-form {
    padding-bottom: 20px;
  }

  .welcome-slide-form__input input {
    font-size: 12px;
  }

  .welcome-slide-form__input--file span {
    font-size: 12px;
  }

  .welcome-slide-form button {
    height: 35px;
    font-size: 10px;
  }

  .welcome-slide-form__privacy {
    font-size: 9px;
  }
}

@media (max-width: 700px) {
  .our-products__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .our-products__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .our-products-item__name {
    left: 15px;
    top: 10px;
  }

  .our-products-item--1 {
    height: calc(81.34969px + (153.31288 - 81.34969) * ((100vw - 360px) / (700 - 360)));
  }

  .our-products-item--2 {
    height: calc(122.02454px + (229.96933 - 122.02454) * ((100vw - 360px) / (700 - 360)));
  }

  .our-products-item--3 {
    height: calc(162.69939px + (306.62577 - 162.69939) * ((100vw - 360px) / (700 - 360)));
  }
}

@media (max-width: 650px) {
  .welcome__slider .slick-dots {
    bottom: 15px;
  }

  .welcome-slide {
    padding: 0 0 10px 0;
  }

  .welcome-slide__col--2 {
    padding: 0;
  }

  .welcome-slide-form {
    display: none;
  }

  .how-order__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .how-order__column {
    padding: 0;
    margin: 0 0 40px 0;
  }

  .how-order__column:before {
    width: 12px;
    height: 21.88235px;
    right: auto;
    left: 7px;
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center;
    -webkit-transform: translate(0, -5px) rotate(90deg);
        -ms-transform: translate(0, -5px) rotate(90deg);
            transform: translate(0, -5px) rotate(90deg);
    top: 100%;
  }

  .how-order-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }

  .how-order-item__icon {
    margin: 0 20px 0 0;
    width: 45px;
    height: 45px;
  }

  .how-order-item__icon img {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }

  .how-order-item__text br {
    display: none;
  }

  .how-order-item__box {
    max-width: 200px;
  }
}

@media (max-width: 600px) {
  .burger-menu {
    background: rgba(63, 73, 75, 0.7);
  }

  .burger-menu__content {
    background: #FFF8E1;
    overflow: auto;
    display: block;
    width: 270px;
    margin: 0 -20px;
    padding: 10px 20px 35px;
  }

  .burger-menu__column {
    padding: 0;
  }

  .burger-menu__column:nth-child(3) .burger-menu-category:last-child .burger-menu-category__head {
    margin: 0;
  }

  .burger-menu-category {
    margin: 0;
  }

  .burger-menu-category._dropdown .burger-menu-category__head {
    position: relative;
  }

  .burger-menu-category._dropdown .burger-menu-category__head:before {
    content: '';
    width: 10px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: url("../img/icons/black_caret.svg") 0 0/100% 100% no-repeat;
  }

  .burger-menu-category__head {
    line-height: 48px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #F2AD97;
  }

  .burger-menu-category__list {
    display: none;
  }
}

@media (max-width: 560px) {
  .how-order__title br {
    display: none;
  }
}

@media (max-width: 550px) {
  .our-products__title br {
    display: none;
  }
}

@media (max-width: 360px) {
  .header__logo {
    min-width: 50px;
  }

  .header__button {
    font-size: 10px;
  }

  .header__button {
    padding-top: 10px;
  }

  .header__button {
    padding-bottom: 10px;
  }

  .header__button {
    padding-right: 25px;
  }

  .header__button {
    padding-left: 25px;
  }

  .header__menu-button {
    margin-right: 0px;
  }

  .header-menu__item a {
    font-size: 10px;
  }

  .menu-button {
    font-size: 10px;
  }

  .menu-button {
    padding-top: 10px;
  }

  .menu-button {
    padding-bottom: 10px;
  }

  .menu-button {
    padding-left: 15px;
  }

  .menu-button {
    padding-right: 15px;
  }

  .welcome-slide__text-block {
    margin-top: 50px;
  }

  .welcome-slide__text-block {
    margin-bottom: 50px;
  }

  .welcome-slide__title {
    font-size: 20px;
  }

  .welcome-slide__title {
    margin-bottom: 12px;
  }

  .how-order {
    padding-top: 20px;
  }

  .how-order {
    padding-bottom: 0px;
  }

  .how-order__title {
    margin-bottom: 20px;
  }

  .how-order-item__title {
    font-size: 12px;
  }

  .how-order-item__title {
    margin-bottom: 5px;
  }

  .how-order-item__text {
    font-size: 10px;
  }

  .our-products-item__name {
    font-size: 10px;
  }
}